[Unit]
Description=OpenSSH server daemon
Wants=sshdgenkeys.service
After=factory.mount nss-user-lookup.target setup-directories.service sshdgenkeys.service

[Service]
Type=notify-reload
ExecStart=-/usr/sbin/sshd -D -f /etc/ssh/sshd_config
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
