[Unit]
Description=OpenSSH Key Generation
After=factory.mount

[Service]
ExecStart=/usr/libexec/openssh/sshd_check_keys
Type=oneshot
RemainAfterExit=yes
Nice=10
