SUBSYSTEM=="uio", MODE="0666"
SUBSYSTEM=="misc", DEVPATH=="/devices/virtual/misc/dmabuf_triton_*", MODE="0666"
SUBSYSTEM=="metis", DEVPATH=="*/metis/triton*", MODE="0666"
SUBSYSTEM=="dma_heap", DEVPATH=="/devices/virtual/dma_heap/*", MODE="0666"
