SUBSYSTEM=="uio", MODE="0666"
SUBSYSTEM=="misc", DEVPATH=="/devices/virtual/misc/dmabuf_triton_*", MODE="0666"
SUBSYSTEM=="metis", DEVPATH=="*/metis/metis*", MODE="0666"
SUBSYSTEM=="dma_heap", DEVPATH=="/devices/virtual/dma_heap/*", MODE="0666"
SUBSYSTEM=="mpp_class", DEVPATH=="/devices/platform/mpp-srv/mpp_class/mpp_service", GROUP="axelera", MODE="0665"
SUBSYSTEM=="misc", KERNEL=="mali0", GROUP="axelera", MODE="0666"
